# Employee Attrition


What makes an employee leave a company?
We have dataset for factors impacting resignations for employees. Available from here:


The following are the columns in our dataset: https://www.kaggle.com/HRAnalyticRepository/employee-attrition-data
- employee id
- employee record date ( year of data)
- birth date
- hire date
- termination date
- age
- length of service
- city
- department
- job title
- store number
- gender
- termination reason
- termination type
- status year
- status
- business unit

These might be typical types of data in hris

In [1]:
# import statements 
import pandas as pd 
import matplotlib.pyplot as plt

In [41]:
file  = r'F:\projects\karachi-ai\Introduction to Python\notebooks\c4\MFG10YearTerminationData.csv'
data = pd.read_csv(file, parse_dates=[1,2,3,4])
data.head()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,2006-12-31,1954-01-03,1989-08-28,1900-01-01,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,2007-12-31,1954-01-03,1989-08-28,1900-01-01,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,2008-12-31,1954-01-03,1989-08-28,1900-01-01,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,2009-12-31,1954-01-03,1989-08-28,1900-01-01,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,2010-12-31,1954-01-03,1989-08-28,1900-01-01,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE

In [42]:
data['terminationdate_key'].unique()
# "Present", "Currently Employed", "-"

array(['1900-01-01T00:00:00.000000000', '2009-02-16T00:00:00.000000000',
       '2014-02-19T00:00:00.000000000', ...,
       '2012-11-18T00:00:00.000000000', '2013-07-02T00:00:00.000000000',
       '2013-09-14T00:00:00.000000000'], dtype='datetime64[ns]')

In [4]:
data['department_name'].unique()

array(['Executive', 'Store Management', 'Meats', 'Recruitment',
       'Training', 'Labor Relations', 'HR Technology', 'Employee Records',
       'Compensation', 'Legal', 'Produce', 'Accounts Receiveable',
       'Bakery', 'Information Technology', 'Accounts Payable', 'Audit',
       'Accounting', 'Investment', 'Dairy', 'Processed Foods',
       'Customer Service'], dtype=object)

## Brainstorming Session

1. What age did people retire at?
2. How many were not applicable? 
3. What is the usual length of service for people?
4. Exploring data for those who were laid-off
5. What business units did they belong to?
6. Gender wise resignation?
7. Who is more length of service based on gender?
8. Gender wise breakdown of department

In [5]:
data.head()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE

### Data Cleaning Checklist
1. Check for missing values
2. What are the data types of our columns 
3. duplicated values

In [6]:
# checking for missing values
data.isna().any()

EmployeeID             False
recorddate_key         False
birthdate_key          False
orighiredate_key       False
terminationdate_key    False
age                    False
length_of_service      False
city_name              False
department_name        False
job_title              False
store_name             False
gender_short           False
gender_full            False
termreason_desc        False
termtype_desc          False
STATUS_YEAR            False
STATUS                 False
BUSINESS_UNIT          False
dtype: bool

In [7]:
# checking for data types of the columns 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49653 entries, 0 to 49652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EmployeeID           49653 non-null  int64
 1   recorddate_key       49653 non-null  object
 2   birthdate_key        49653 non-null  object
 3   orighiredate_key     49653 non-null  object
 4   terminationdate_key  49653 non-null  object
 5   age                  49653 non-null  int64
 6   length_of_service    49653 non-null  int64
 7   city_name            49653 non-null  object
 8   department_name      49653 non-null  object
 9   job_title            49653 non-null  object
 10  store_name           49653 non-null  int64
 11  gender_short         49653 non-null  object
 12  gender_full          49653 non-null  object
 13  termreason_desc      49653 non-null  object
 14  termtype_desc        49653 non-null  object
 15  STATUS_YEAR          49653 non-null  int64
 16  STATUS               49653 non-null  object
 17  BUSINESS_UNIT        49653 non-null  object
dtypes: int64(5), object(13)
memory usage: 6.8+ MB

In [13]:
t = pd.to_datetime(data['terminationdate_key'])

In [34]:
t[0].date().year

1900

In [43]:
# fix our column data types: recorddate_key, birthdate_key, terminationdate_key

temp = data['terminationdate_key'].replace('1/1/1900', '')
converted_datetime = pd.to_datetime(temp)
# converted_datetime_no_nats = converted_datetime.fillna('-')
data['terminationdate_key'] = converted_datetime 


# record date 
temp = data['recorddate_key'].replace('1/1/1900', '')
converted_datetime = pd.to_datetime(temp)
# converted_datetime_no_nats = converted_datetime.fillna('-')
data['recorddate_key'] = converted_datetime 


# hire date 
temp = data['orighiredate_key'].replace('1/1/1900', '')
converted_datetime = pd.to_datetime(temp)
# converted_datetime_no_nats = converted_datetime.fillna('-')
data['orighiredate_key'] = converted_datetime 


# birthdate date 
temp = data['birthdate_key'].replace('1/1/1900', '')
converted_datetime = pd.to_datetime(temp)
# converted_datetime_no_nats = converted_datetime.fillna('-')
data['birthdate_key'] = converted_datetime

In [ ]:
columns = ['terminationdate_key', 'recorddate_key', 'orighiredate_key', 'birthdate_key']

for column in columns:
    temp = data[column].replace('1/1/1900', '')
    converted_datetime = pd.to_datetime(temp)
    # converted_datetime_no_nats = converted_datetime.fillna('-')
    data[column] = converted_datetime

In [55]:
data.data()

AttributeError: 'DataFrame' object has no attribute 'data'

In [61]:
data[data.duplicated(subset=['EmployeeID', 'length_of_service'])]

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
48168,1338,2009-02-01,1949-02-16,1989-09-20,2009-02-16,60,19,Vancouver,Training,"Director, Training",35,M,Male,Retirement,Voluntary,2009,TERMINATED,HEADOFFICE
48169,1339,2014-02-01,1949-02-19,1989-09-22,2014-02-19,65,24,Nelson,Store Management,Store Manager,19,F,Female,Retirement,Voluntary,2014,TERMINATED,STORES
48170,1340,2009-02-01,1949-02-19,1989-09-22,2009-02-19,60,19,Kelowna,Store Management,Store Manager,16,M,Male,Retirement,Voluntary,2009,TERMINATED,STORES
48171,1341,2009-02-01,1949-02-21,1989-09-23,2009-02-21,60,19,Vancouver,Labor Relations,"Director, Labor Relations",35,M,Male,Retirement,Voluntary,2009,TERMINATED,HEADOFFICE
48172,1343,2014-02-01,1949-02-24,1989-09-25,2014-02-24,65,24,Victoria,Store Management,Store Manager,37,F,Female,Retirement,Voluntary,2014,TERMINATED,STORES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49590,8029,2014-02-01,1992-07-21,2012-08-26,2014-02-26,21,1,Nanaimo,Customer Service,Cashier,18,M,Male,Resignaton,Voluntary,2014,TERMINATED,STORES
49591,8030,2014-02-01,1992-07-20,2012-08-26,2014-02-26,21,1,New Westminster,Customer Service,Cashier,21,M,Male,Resignaton,Voluntary,2014,TERMINATED,STORES
49597,8065,2013-01-01,1992-10-30,2012-10-18,2013-01-11,20,0,Squamish,Customer Service,Cashier,30,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49601,8083,2013-01-01,1992-12-25,2012-11-17,2013-01-26,20,0,Aldergrove,Customer Service,Cashier,2,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49651,8296,2013-12-01,1994-09-02,2013-10-09,2013-12-31,19,0,Kelowna,Customer Service,Cashier,16,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES

In [75]:
# data[data['EmployeeID'] == 1338]

temp = pd.DataFrame(data['recorddate_key'].unique(), columns=['unique_record_date'])

temp['shifted_unique_date'] = temp['unique_record_date'].shift(1)

(temp['unique_record_date'] - temp['shifted_unique_date'])

0          NaT
1     365 days
2     366 days
3     365 days
4     365 days
        ...
125    31 days
126    31 days
127    61 days
128    30 days
129    31 days
Length: 130, dtype: timedelta64[ns]

In [50]:
# data[data['EmployeeID'] == 1318]
# data['EmployeeID'].unique()
data[data['STATUS'] == 'TERMINATED'].isna().any()

EmployeeID             False
recorddate_key         False
birthdate_key          False
orighiredate_key       False
terminationdate_key    False
age                    False
length_of_service      False
city_name              False
department_name        False
job_title              False
store_name             False
gender_short           False
gender_full            False
termreason_desc        False
termtype_desc          False
STATUS_YEAR            False
STATUS                 False
BUSINESS_UNIT          False
dtype: bool

In [86]:
# ensuring the date is always the latest even if backend data is updated.
# date_filter = data['recorddate_key'].max()
date_filter = 2014
# data['STATUS_YEAR'].unique()
# using a boolean mask 
subset = data[data['STATUS_YEAR'] == date_filter]

array(['Not Applicable', 'Retirement', 'Layoff', 'Resignaton'],
      dtype=object)

## Brainstorming Session

1. What age did people retire at?
2. How many were not applicable? 
3. What is the usual length of service for people?
4. Exploring data for those who were laid-off
5. What business units did they belong to?
6. Gender wise resignation?
7. Who is more length of service based on gender?
8. Gender wise breakdown of department

In [127]:
# working or not: if termination date, then working, else not working 
# data['Working or Not'] = 'Working' if data['terminationdate_key'].isna() =else 'Not Working'

import numpy as np

In [128]:
# np.where(condition, value to return if true, value to return false)
# data['Working or Not'] = np.where(data['terminationdate_key'].isna() == True, 'Working', 'Not Working')

In [56]:
data.head()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,2006-12-31,1954-01-03,1989-08-28,1900-01-01,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,2007-12-31,1954-01-03,1989-08-28,1900-01-01,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,2008-12-31,1954-01-03,1989-08-28,1900-01-01,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,2009-12-31,1954-01-03,1989-08-28,1900-01-01,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,2010-12-31,1954-01-03,1989-08-28,1900-01-01,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE

In [130]:
sorted(data['recorddate_key'].unique())

[numpy.datetime64('2006-01-01T00:00:00.000000000'),
 numpy.datetime64('2006-02-01T00:00:00.000000000'),
 numpy.datetime64('2006-03-01T00:00:00.000000000'),
 numpy.datetime64('2006-04-01T00:00:00.000000000'),
 numpy.datetime64('2006-05-01T00:00:00.000000000'),
 numpy.datetime64('2006-06-01T00:00:00.000000000'),
 numpy.datetime64('2006-07-01T00:00:00.000000000'),
 numpy.datetime64('2006-08-01T00:00:00.000000000'),
 numpy.datetime64('2006-09-01T00:00:00.000000000'),
 numpy.datetime64('2006-10-01T00:00:00.000000000'),
 numpy.datetime64('2006-11-01T00:00:00.000000000'),
 numpy.datetime64('2006-12-01T00:00:00.000000000'),
 numpy.datetime64('2006-12-31T00:00:00.000000000'),
 numpy.datetime64('2007-01-01T00:00:00.000000000'),
 numpy.datetime64('2007-02-01T00:00:00.000000000'),
 numpy.datetime64('2007-03-01T00:00:00.000000000'),
 numpy.datetime64('2007-04-01T00:00:00.000000000'),
 numpy.datetime64('2007-05-01T00:00:00.000000000'),
 numpy.datetime64('2007-06-01T00:00:00.000000000'),
 numpy.datetime64('2007-07-01T00:00:00.000000000'),
 numpy.datetime64('2007-08-01T00:00:00.000000000'),
 numpy.datetime64('2007-09-01T00:00:00.000000000'),
 numpy.datetime64('2007-10-01T00:00:00.000000000'),
 numpy.datetime64('2007-11-01T00:00:00.000000000'),
 numpy.datetime64('2007-12-01T00:00:00.000000000'),
 numpy.datetime64('2007-12-31T00:00:00.000000000'),
 numpy.datetime64('2008-01-01T00:00:00.000000000'),
 numpy.datetime64('2008-02-01T00:00:00.000000000'),
 numpy.datetime64('2008-03-01T00:00:00.000000000'),
 numpy.datetime64('2008-04-01T00:00:00.000000000'),
 numpy.datetime64('2008-05-01T00:00:00.000000000'),
 numpy.datetime64('2008-06-01T00:00:00.000000000'),
 numpy.datetime64('2008-07-01T00:00:00.000000000'),
 numpy.datetime64('2008-08-01T00:00:00.000000000'),
 numpy.datetime64('2008-09-01T00:00:00.000000000'),
 numpy.datetime64('2008-10-01T00:00:00.000000000'),
 numpy.datetime64('2008-11-01T00:00:00.000000000'),
 numpy.datetime64('2008-12-01T00:00:00.000000000'),
 numpy.datetime64('2008-12-31T00:00:00.000000000'),
 numpy.datetime64('2009-01-01T00:00:00.000000000'),
 numpy.datetime64('2009-02-01T00:00:00.000000000'),
 numpy.datetime64('2009-03-01T00:00:00.000000000'),
 numpy.datetime64('2009-04-01T00:00:00.000000000'),
 numpy.datetime64('2009-05-01T00:00:00.000000000'),
 numpy.datetime64('2009-06-01T00:00:00.000000000'),
 numpy.datetime64('2009-07-01T00:00:00.000000000'),
 numpy.datetime64('2009-08-01T00:00:00.000000000'),
 numpy.datetime64('2009-09-01T00:00:00.000000000'),
 numpy.datetime64('2009-10-01T00:00:00.000000000'),
 numpy.datetime64('2009-11-01T00:00:00.000000000'),
 numpy.datetime64('2009-12-01T00:00:00.000000000'),
 numpy.datetime64('2009-12-31T00:00:00.000000000'),
 numpy.datetime64('2010-01-01T00:00:00.000000000'),
 numpy.datetime64('2010-02-01T00:00:00.000000000'),
 numpy.datetime64('2010-03-01T00:00:00.000000000'),
 numpy.datetime64('2010-04-01T00:00:00.000000000'),
 numpy.datetime64('2010-05-01T00:00:00.000000000'),
 numpy.datetime64('2010-06-01T00:00:00.000000000'),
 numpy.datetime64('2010-07-01T00:00:00.000000000'),
 numpy.datetime64('2010-08-01T00:00:00.000000000'),
 numpy.datetime64('2010-09-01T00:00:00.000000000'),
 numpy.datetime64('2010-10-01T00:00:00.000000000'),
 numpy.datetime64('2010-11-01T00:00:00.000000000'),
 numpy.datetime64('2010-12-01T00:00:00.000000000'),
 numpy.datetime64('2010-12-31T00:00:00.000000000'),
 numpy.datetime64('2011-01-01T00:00:00.000000000'),
 numpy.datetime64('2011-02-01T00:00:00.000000000'),
 numpy.datetime64('2011-03-01T00:00:00.000000000'),
 numpy.datetime64('2011-04-01T00:00:00.000000000'),
 numpy.datetime64('2011-05-01T00:00:00.000000000'),
 numpy.datetime64('2011-06-01T00:00:00.000000000'),
 numpy.datetime64('2011-07-01T00:00:00.000000000'),
 numpy.datetime64('2011-08-01T00:00:00.000000000'),
 numpy.datetime64('2011-09-01T00:00:00.000000000'),
 numpy.datetime64('2011-10-01T00:00:00.000000000'),
 numpy.datetime64('2011-11-01T00:00:00.000000000'),
 numpy.datetime64('2011-12-01T00:00:00.000000000'),
 numpy.datetime64('2011-12-31T00:00:00.000000000'),
 numpy.datetime64('2012-01-01T00:00:00.000000000'),
 numpy.datetime64('2012-02-01T00:00:00.000000000'),
 numpy.datetime64('2012-03-01T00:00:00.000000000'),
 numpy.datetime64('2012-04-01T00:00:00.000000000'),
 numpy.datetime64('2012-05-01T00:00:00.000000000'),
 numpy.datetime64('2012-06-01T00:00:00.000000000'),
 numpy.datetime64('2012-07-01T00:00:00.000000000'),
 numpy.datetime64('2012-08-01T00:00:00.000000000'),
 numpy.datetime64('2012-09-01T00:00:00.000000000'),
 numpy.datetime64('2012-10-01T00:00:00.000000000'),
 numpy.datetime64('2012-11-01T00:00:00.000000000'),
 numpy.datetime64('2012-12-01T00:00:00.000000000'),
 numpy.datetime64('2012-12-31T00:00:00.000000000'),
 numpy.datetime64('2013-01-01T00:00:00.000000000'),
 numpy.datetime64('2013-02-01T00:00:00.000000000'),
 numpy.datetime64('2013-03-01T00:00:00.000000000'),
 numpy.datetime64('2013-04-01T00:00:00.000000000'),
 numpy.datetime64('2013-05-01T00:00:00.000000000'),
 numpy.datetime64('2013-06-01T00:00:00.000000000'),
 numpy.datetime64('2013-07-01T00:00:00.000000000'),
 numpy.datetime64('2013-08-01T00:00:00.000000000'),
 numpy.datetime64('2013-09-01T00:00:00.000000000'),
 numpy.datetime64('2013-10-01T00:00:00.000000000'),
 numpy.datetime64('2013-11-01T00:00:00.000000000'),
 numpy.datetime64('2013-12-01T00:00:00.000000000'),
 numpy.datetime64('2013-12-31T00:00:00.000000000'),
 numpy.datetime64('2014-01-01T00:00:00.000000000'),
 numpy.datetime64('2014-02-01T00:00:00.000000000'),
 numpy.datetime64('2014-03-01T00:00:00.000000000'),
 numpy.datetime64('2014-04-01T00:00:00.000000000'),
 numpy.datetime64('2014-05-01T00:00:00.000000000'),
 numpy.datetime64('2014-06-01T00:00:00.000000000'),
 numpy.datetime64('2014-07-01T00:00:00.000000000'),
 numpy.datetime64('2014-08-01T00:00:00.000000000'),
 numpy.datetime64('2014-09-01T00:00:00.000000000'),
 numpy.datetime64('2014-10-01T00:00:00.000000000'),
 numpy.datetime64('2014-11-01T00:00:00.000000000'),
 numpy.datetime64('2014-12-01T00:00:00.000000000'),
 numpy.datetime64('2014-12-31T00:00:00.000000000'),
 numpy.datetime64('2015-01-01T00:00:00.000000000'),
 numpy.datetime64('2015-02-01T00:00:00.000000000'),
 numpy.datetime64('2015-03-01T00:00:00.000000000'),
 numpy.datetime64('2015-04-01T00:00:00.000000000'),
 numpy.datetime64('2015-05-01T00:00:00.000000000'),
 numpy.datetime64('2015-06-01T00:00:00.000000000'),
 numpy.datetime64('2015-07-01T00:00:00.000000000'),
 numpy.datetime64('2015-08-01T00:00:00.000000000'),
 numpy.datetime64('2015-09-01T00:00:00.000000000'),
 numpy.datetime64('2015-10-01T00:00:00.000000000'),
 numpy.datetime64('2015-11-01T00:00:00.000000000'),
 numpy.datetime64('2015-12-01T00:00:00.000000000'),
 numpy.datetime64('2015-12-31T00:00:00.000000000')]

In [131]:
# latest_data = data[data['recorddate_key'] '2015']
# data['recordyear_key'] = 

def get_year(value):
    year = value.year
    return year

# create new year wise column for records 
data['recordyear_key'] = data['recorddate_key'].apply(get_year)
latest_data = data[data['recordyear_key'] == 2014]

In [132]:
latest_data.shape

(5215, 20)

In [133]:
latest_data.shape[0]/data.shape[0]*100

10.502890056995549

In [134]:
# rerun duplicate check 
latest_data['EmployeeID'].duplicated().any()

True

## Brainstorming Session

1. What age did people retire at?
2. How many were not applicable? 
3. What is the usual length of service for people?
4. Exploring data for those who were laid-off
5. What business units did they belong to?
6. Gender wise resignation?
7. Who is more length of service based on gender?
8. Gender wise breakdown of department

In [87]:
subset.head()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
8,1318,2014-12-31,1954-01-03,1989-08-28,1900-01-01,60,25,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2014,ACTIVE,HEADOFFICE
18,1319,2014-12-31,1957-01-03,1989-08-28,1900-01-01,57,25,Vancouver,Executive,VP Stores,35,F,Female,Not Applicable,Not Applicable,2014,ACTIVE,HEADOFFICE
28,1320,2014-12-31,1955-01-02,1989-08-28,1900-01-01,59,25,Vancouver,Executive,Legal Counsel,35,F,Female,Not Applicable,Not Applicable,2014,ACTIVE,HEADOFFICE
38,1321,2014-12-31,1959-01-02,1989-08-28,1900-01-01,55,25,Vancouver,Executive,VP Human Resources,35,M,Male,Not Applicable,Not Applicable,2014,ACTIVE,HEADOFFICE
48,1322,2014-12-31,1958-01-09,1989-08-31,1900-01-01,56,25,Vancouver,Executive,VP Finance,35,M,Male,Not Applicable,Not Applicable,2014,ACTIVE,HEADOFFICE

Calculate age of retirement 
1. get retired people's dataset
2. find the age distribution/mean/max/min

In [94]:
# retired = latest_data[latest_data['termreason_desc'] == 'Retired']
# data[data['termreason_desc'] == 'Retirement']

subset['termreason_desc'].unique()


# retired individuals 
retired = subset[subset['termreason_desc'] == 'Retirement']
retired['age'].describe()

count    56.0
mean     65.0
std       0.0
min      65.0
25%      65.0
50%      65.0
75%      65.0
max      65.0
Name: age, dtype: float64

In [109]:
# filtering on gender 
gender_filter = 'Male'
gender_subset = subset[subset['gender_full'] == gender_filter]

# groupby termination reason 
term_reason = gender_subset.groupby('termreason_desc')[['age', 'length_of_service']].mean()

# groupby department
# department = gender_subset.groupby('department_name')[['age', 'length_of_service']].mean()


# term_reason

subset.groupby(['department_name', 'termreason_desc', 'gender_full'])[['age', 'length_of_service']].mean()

                                                        age  length_of_service
department_name      termreason_desc gender_full
Accounting           Not Applicable  Female       64.000000          24.000000
                     Retirement      Female       65.000000          24.000000
Accounts Payable     Not Applicable  Female       64.000000          24.000000
                     Retirement      Female       65.000000          24.000000
Accounts Receiveable Not Applicable  Female       64.000000          24.000000
                     Retirement      Female       65.000000          24.000000
Audit                Not Applicable  Female       64.000000          24.000000
Bakery               Layoff          Female       40.727273          11.727273
                                     Male         41.333333          12.000000
                     Not Applicable  Female       44.188442          13.595477
                                     Male         43.977330          13.481108
                     Retirement      Female       65.000000          24.000000
Compensation         Not Applicable  Female       64.000000          24.000000
Customer Service     Layoff          Female       28.200000           5.100000
                                     Male         30.818182           6.454545
                     Not Applicable  Female       30.728395           6.491770
                                     Male         31.004167           6.643750
                     Resignaton      Female       21.000000           1.000000
                                     Male         21.000000           1.000000
                     Retirement      Female       65.000000          24.000000
Dairy                Layoff          Female       33.750000           8.083333
                                     Male         42.285714          12.714286
                     Not Applicable  Female       37.451456          10.058252
                                     Male         37.158696           9.886957
                     Retirement      Female       65.000000          24.000000
Employee Records     Retirement      Female       65.000000          24.000000
Executive            Not Applicable  Female       56.600000          25.000000
                                     Male         55.200000          25.000000
HR Technology        Retirement      Female       65.000000          24.000000
Investment           Not Applicable  Female       64.000000          24.000000
Labor Relations      Retirement      Female       65.000000          24.000000
Legal                Retirement      Female       65.000000          24.000000
Meats                Layoff          Female       46.166667          14.666667
                                     Male         49.857143          16.714286
                     Not Applicable  Female       55.785714          19.718367
                                     Male         53.722090          18.646081
                     Retirement      Female       65.000000          24.111111
Processed Foods      Layoff          Female       30.900000           6.300000
                                     Male         42.444444          12.555556
                     Not Applicable  Female       34.636656           8.575563
                                     Male         34.853107           8.700565
                     Resignaton      Female       30.000000           6.000000
                     Retirement      Female       65.000000          24.000000
Produce              Layoff          Female       41.444444          12.222222
                                     Male         48.285714          15.714286
                     Not Applicable  Female       48.994565          16.163043
                                     Male         49.874286          16.611429
                     Retirement      Female       65.000000          24.000000
Recruitment          Not Applicable  Female       52.000000          25.000000
                     Retirement      Female       65.000000          24.000000
Store Management     Layoff          Male         62.333333          23.333333
                     Not Applicable  Female       59.777778          23.888889
                                     Male         63.000000          23.666667
                     Retirement      Female       65.000000          24.125000
Training             Retirement      Female       65.000000          24.000000

In [119]:
# subset.groupby(['department_name', 'termreason_desc', 'gender_full'])['EmployeeID'].count()
subset[(subset['department_name'] == 'Dairy') & (subset['termreason_desc'] == 'Resignaton')]

Empty DataFrame
Columns: [EmployeeID, recorddate_key, birthdate_key, orighiredate_key, terminationdate_key, age, length_of_service, city_name, department_name, job_title, store_name, gender_short, gender_full, termreason_desc, termtype_desc, STATUS_YEAR, STATUS, BUSINESS_UNIT]
Index: []

In [137]:
latest_data.head()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT,recordyear_key,Working or Not
8,1318,2014-12-31,1954-01-03,1989-08-28,NaT,60,25,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2014,ACTIVE,HEADOFFICE,2014,Working
18,1319,2014-12-31,1957-01-03,1989-08-28,NaT,57,25,Vancouver,Executive,VP Stores,35,F,Female,Not Applicable,Not Applicable,2014,ACTIVE,HEADOFFICE,2014,Working
28,1320,2014-12-31,1955-01-02,1989-08-28,NaT,59,25,Vancouver,Executive,Legal Counsel,35,F,Female,Not Applicable,Not Applicable,2014,ACTIVE,HEADOFFICE,2014,Working
38,1321,2014-12-31,1959-01-02,1989-08-28,NaT,55,25,Vancouver,Executive,VP Human Resources,35,M,Male,Not Applicable,Not Applicable,2014,ACTIVE,HEADOFFICE,2014,Working
48,1322,2014-12-31,1958-01-09,1989-08-31,NaT,56,25,Vancouver,Executive,VP Finance,35,M,Male,Not Applicable,Not Applicable,2014,ACTIVE,HEADOFFICE,2014,Working

In [138]:
# retired = latest_data[latest_data['termreason_desc'] == 'Retirement']

In [139]:
retired['age'].min()

65

In [140]:
retired['age'].max()

65

In [141]:
retired['age'].describe()

count    56.0
mean     65.0
std       0.0
min      65.0
25%      65.0
50%      65.0
75%      65.0
max      65.0
Name: age, dtype: float64

In [142]:
# how many were not applicable 
not_applicable = latest_data[latest_data['termreason_desc'] == 'Not Applicable']

In [143]:
# not_applicable
# not_applicable.dropna()
not_applicable.shape

(4962, 20)

In [144]:
# not applicable AND not working 
not_applicable.dropna().shape

(163, 20)

In [145]:
# usual length of service of people
latest_data['length_of_service'].describe()

count    5215.000000
mean       12.378523
std         6.925501
min         1.000000
25%         6.000000
50%        12.000000
75%        18.000000
max        25.000000
Name: length_of_service, dtype: float64

In [146]:
current_employees = latest_data[latest_data['Working or Not'] == 'Working']
ex_employees = latest_data[latest_data['Working or Not'] == 'Not Working']

In [147]:
current_employees.shape

(4799, 20)

In [151]:
ex_employees.shape

(416, 20)

In [153]:
# current 
current_employees['length_of_service'].describe()

count    4799.000000
mean       12.291936
std         6.686482
min         1.000000
25%         7.000000
50%        12.000000
75%        18.000000
max        25.000000
Name: length_of_service, dtype: float64

In [152]:
# ex 
ex_employees['length_of_service'].describe()

count    416.000000
mean      13.377404
std        9.198186
min        1.000000
25%        5.000000
50%       13.000000
75%       24.000000
max       25.000000
Name: length_of_service, dtype: float64

5. What business units did they belong to?
6. Gender wise resignation?
7. Who is more length of service based on gender?
8. Gender wise breakdown of department

In [159]:
current_counts = current_employees.groupby('BUSINESS_UNIT')['EmployeeID'].count()
current_counts / current_counts.sum() * 100

BUSINESS_UNIT
HEADOFFICE     0.229214
STORES        99.770786
Name: EmployeeID, dtype: float64

In [157]:
ex_counts =ex_employees.groupby('BUSINESS_UNIT')['EmployeeID'].count()
ex_counts/ex_counts.sum() *100

BUSINESS_UNIT
HEADOFFICE     8.653846
STORES        91.346154
Name: EmployeeID, dtype: float64

### Do it Yourself 
HYPOTHESIS: Are head office employees more likely to resign that store employees?
Do a comparative analysis on the following variables:
1. Age
2. Length of service 
3. Gender
4. City

BONUS: Which store employees are more likely to resign?

In [ ]:
# start code here

In [ ]:
# end code here

6. Gender Wise Resginations

In [172]:
ex_employees.groupby('gender_full')['EmployeeID'].count()
# ex_counts/ex_counts.sum() *100

gender_full
Female    281
Male      135
Name: EmployeeID, dtype: int64

In [163]:
current_counts = current_employees.groupby('gender_full')['EmployeeID'].count()
current_counts / current_counts.sum() * 100

gender_full
Female    49.239425
Male      50.760575
Name: EmployeeID, dtype: float64

7. Length of Service based on gender

In [175]:
ex_employees.groupby('gender_full')['length_of_service'].min()
# ex_counts/ex_counts.sum() *100

gender_full
Female    1
Male      1
Name: length_of_service, dtype: int64

In [176]:
current_employees.groupby('gender_full')['length_of_service'].min()
# current_counts / current_counts.sum() * 100

gender_full
Female    1
Male      1
Name: length_of_service, dtype: int64

8. Department wise breakdown of employees

In [178]:
# current_employees.groupby('gender_full')['department_name'].count()
# get current male and current female 

current_males = current_employees[current_employees['gender_full'] == 'Male']
current_females = current_employees[current_employees['gender_full'] == 'Female']

In [180]:
# department wise breakdown
current_males.groupby('department_name')['EmployeeID'].count().sort_values(ascending=False)

department_name
Customer Service    468
Dairy               447
Meats               416
Bakery              395
Processed Foods     354
Produce             349
Executive             5
Store Management      2
Name: EmployeeID, dtype: int64

In [181]:
current_females.groupby('department_name')['EmployeeID'].count().sort_values(ascending=False)

department_name
Customer Service    460
Meats               459
Dairy               395
Bakery              391
Produce             358
Processed Foods     292
Executive             5
Store Management      2
Recruitment           1
Name: EmployeeID, dtype: int64

In [182]:
# get ex male and current female 

ex_males = ex_employees[ex_employees['gender_full'] == 'Male']
ex_females = ex_employees[ex_employees['gender_full'] == 'Female']

In [183]:
# department wise breakdown
ex_males.groupby('department_name')['EmployeeID'].count().sort_values(ascending=False)

department_name
Customer Service    67
Dairy               27
Meats               12
Processed Foods      9
Produce              8
Bakery               8
Store Management     4
Name: EmployeeID, dtype: int64

In [184]:
# department wise breakdown
ex_females.groupby('department_name')['EmployeeID'].count().sort_values(ascending=False)

department_name
Customer Service        69
Meats                   52
Processed Foods         33
Dairy                   32
Bakery                  23
Produce                 21
Store Management        15
HR Technology            6
Accounting               6
Recruitment              6
Employee Records         4
Accounts Receiveable     3
Accounts Payable         3
Labor Relations          2
Training                 2
Investment               1
Legal                    1
Compensation             1
Audit                    1
Name: EmployeeID, dtype: int64

9. City wise breakdown of employees AND with gender

In [191]:
ex_counts = ex_employees.groupby('city_name')['EmployeeID'].count().sort_values(ascending=False)
ex_counts/ex_counts.sum() *100

city_name
Vancouver           16.826923
Fort Nelson          9.375000
Victoria             7.451923
New Westminister     7.451923
Grand Forks          7.211538
White Rock           5.769231
Haney                5.048077
Princeton            4.086538
Dawson Creek         3.846154
Kelowna              2.644231
Nanaimo              2.644231
New Westminster      2.644231
Kamloops             2.163462
Prince George        1.923077
Cranbrook            1.923077
Surrey               1.923077
Terrace              1.923077
Vernon               1.682692
Pitt Meadows         1.442308
Ocean Falls          1.442308
Chilliwack           1.201923
Fort St John         1.201923
Valemount            1.201923
Cortes Island        0.961538
Williams Lake        0.721154
Quesnel              0.721154
Richmond             0.721154
Squamish             0.721154
Langley              0.480769
Dease Lake           0.480769
Burnaby              0.480769
Aldergrove           0.480769
Nelson               0.240385
Trail                0.240385
West Vancouver       0.240385
Blue River           0.240385
Abbotsford           0.240385
Name: EmployeeID, dtype: float64

In [192]:
current_counts = current_employees.groupby('city_name')['EmployeeID'].count().sort_values(ascending=False)
current_counts / current_counts.sum() * 100

city_name
Vancouver          22.838091
Victoria            9.856220
Nanaimo             8.314232
New Westminster     6.938946
Kelowna             5.126068
Burnaby             4.667639
Prince George       4.355074
Kamloops            4.292561
Cranbrook           3.875807
Surrey              3.188164
Richmond            3.083976
Terrace             2.479683
Chilliwack          2.396333
Trail               1.979579
Langley             1.896228
Vernon              1.812878
Squamish            1.646176
Abbotsford          1.500313
North Vancouver     1.437800
Quesnel             1.312773
West Vancouver      1.291936
Williams Lake       1.291936
Fort St John        1.271098
Aldergrove          1.125234
Port Coquitlam      1.083559
Nelson              0.666806
Bella Bella         0.270890
Name: EmployeeID, dtype: float64